@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;600&display=swap');

// variables

$bg-body-color: #e3f9ff;
$bg-cal: #3a4452;
$bg-btn-color: rgb(221, 247, 248, 0.84);
$btn-color: #fff;
$operator-color: #00ffe5;

html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    background-color: $bg-body-color;
}

input {
    outline: none;
    border: none;
    background: transparent;
    color: $btn-color;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}